<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="shortcut icon" type="image/png" href="./data/images/favicon.png" />
	    <link rel="stylesheet" type="text/css" href="./css/index.css" media="all" />
		<script src="./js/index.js"></script>		
		<meta charset="UTF-8">
		<title>Hop up</title>
	</head>
	<body class="splash">
	    <div class="container">
	        <h1>Hoppers level#4</h1>
	        
			<span id="question1">
			<h3> question#1what is 5+7?</h3>
			<form>
			  <input type="radio" name="q1" value= "13" onclick="showMessage('try again')">13 <br>
			  <input type="radio" name="q1" value="11" onclick="showMessage('try again')">11 <br>
			  <input type="radio" name="q1" value="12" onclick="showMessage('nice work'); moveFrog('60%', '100px')">12 
			</form>
			</span>
			
			<span id="question2">
			<h3> question#2 what type of anamal thats green red eyes and orange feet?</h3>
			<form>
			  <input type="radio" name="q2" value= "red eyed tree frog" onclick="showMessage('great job');moveFrog( '45%', '440px')" > red eyed tree frog <br>
			  <input type="radio" name="q2" value="frog" onclick="showMessage('try again')">frog <br>
			  <input type="radio" name="q2" value="horse" onclick="showMessage('try again')">horse <br/>
			</form>
			</span>
			
			<span id="question3">
			<h3> question#3 where does a red eyed tree frog live?</h3>
			<form>
			  <input type="radio" name="q3" value= "in a house" onclick="showMessage('try again')" >in a house <br>
			  <input type="radio" name="q3" value="on a farm" onclick="showMessage('try again')">on a farm<br>
			  <input type="radio" name="q3" value="In the rainforest" onclick="showMessage('amazing work');moveFrog('30%', '100px');document.getElementById('nextLevel').style.display='block'"> in the rainforest<br/>
			</form>
			</span>
			<span id="nextLevel" > <a href="/l5">click to continue</a></span>
			
			
			
			
			
			
			
			<h3 id="question3"></h3>
		    
			<img id="hoppers" src="/images/hopper.gif">
	    </div>
	</body>
</html>
